# Copyright 2024-2026 Nick Brassel (@tzarc)
# SPDX-License-Identifier: GPL-2.0-or-later

layout python3

[ "$(uname -s)" == "Linux" ] &&
    export TC_WORKDIR=/t &&
    export EXECUTE_UNDER_DOCKER=1

if ! command -v pre-commit >/dev/null 2>&1; then
    echo "pre-commit not found, installing..."
    pip install -r requirements.txt
    pre-commit install
fi
