repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.patch$|\.diff$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: \.patch$|\.diff$
      - id: trailing-whitespace
        exclude: \.patch$|\.diff$
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --offset, '2']
      - id: pretty-format-toml
        args: [--autofix]
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        exclude: \.diff$|\.patch$|\.svd$|[mM]akefile[^\/]*$|.*\.mk$
      - id: insert-license
        name: Insert License Header (C/C++ files)
        args: [--allow-past-years, --use-current-year, --license-filepath=.license-header, --comment-style=//]
        types_or: [c, c++]
      - id: insert-license
        name: Insert License Header (Shell Script files)
        args: [--allow-past-years, --use-current-year, --license-filepath=.license-header, --comment-style=#, --no-extra-eol]
        types_or: [shell]
